@use '@/styles/utils/index.scss' as *;

.popup {
  padding: 20px;
  min-width: 300px;
  border: 1px solid;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  background-color: #fff;
  &-inner {
    position: relative;
    border-radius: 10px;
  }
  &-title {
    font-size: toRem(16);
    font-weight: 600;
  }
}
