* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
header,
footer,
section,
article,
aside,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  width: 100%;
  &.align-center {
    align-items: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.justify-between {
    justify-content: space-between;
  }
}

.btn {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  &.--white {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
}
