@use '@/styles/utils/index.scss' as *;

.main {
  font-size: toRem(12);
  max-width: 500px;
  margin: 20px auto 0;
  &-title {
    font-size: toRem(14);
  }
  &-content {
    margin-top: 10px;
  }
  &-radio {
    &-group {
      & > * {
        vertical-align: middle;
      }
      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }
  &-footer {
    max-width: 300px;
    margin: 50px auto 0;
  }
  &-btn {
    min-width: 100px;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .main {
    width: 50%;
  }
}
